* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    font-family: serif;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  background-color: #901b22;
  color: white;
  padding: 20px 60px;
  
 
  flex-wrap: wrap;
}
.nav-links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

/* Image Header */

.hero {
    position: relative;
    width: 100%;
}

.hero img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-text h2 {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0 0 6px black;
}

/* Side Decorations */
.side-left,
.side-right {
    
    top: 200px;
    width: 70px;
    height: auto;
}

.side-left {
    left: 10px;
}

.side-right {
    right: 10px;
    transform: scaleX(-1);
}

/* Recipes Grid */
.recipes-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    
}

.recipes-grid img{
    background-color: #d1d1d1;
    height: 170px;
    width: 100%;
    
}

/* Title Box */
.recipe-title {
  width: 435px;
  height: 373px;
  background-color: #a3bf50;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
}

/* Recipe Body Box */
.recipe-body {
  width: 416px;
  height: 252px;
  margin: 10px auto;
  background-color: #778B3B;
  border-color: #C2242D;
    border-style: dotted;
    border-width: 2px;
  overflow: auto;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  display: inline-block;
  
}

/* height:100px;width:140px;overflow:auto;background-color:yellowgreen;color:white;scrollbar-base-color:gold;font-family:sans-serif;padding:10px; */

#ol {
    list-style-type: decimal;
}

/* Footer */

footer {
    background-color: #901b22;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    margin-top: 40px;
}

footer a {
    color: white;
    text-decoration: none;
}

.footer-left h3 {
    margin-bottom: 8px;
}



/* overflow-y:auto; */