* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    
}

/* Header */
header {
    font-family: serif;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  background-color: #901b22;
  color: white;
  padding: 20px 60px;
  
 
  flex-wrap: wrap;
}
.nav-links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

/* Image Header */

.hero {
    position: relative;
    width: 100%;
}

.hero img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-text h2 {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0 0 6px black;
}

/* Hanging Ornaments */
.ornaments img {
    width: 20%;
    margin-top: -5px;
    
}

/* Wishlist Title */
.wishlist-title {
    text-align: center;
    font-size: 2.4rem;
    margin: 30px 0 10px;
}

/* Wishlist Grid */
.wishlist-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 0 60px 60px;
}

.wishlist-card {
    display: flex;
    background-color: #adc46a;
    padding: 15px;
    border-radius: 6px;
}

.image-placeholder {
    width: 190px;
    height: 144px;
    background-color: #d9d9d9;
    margin-right: 15px;
}

.info h3 {
    font-size: 1rem;
    margin-bottom: 6px;
}

.info p {
    font-size: 0.85rem;
    margin-bottom: 15px;
}

button {
    background-color: #778B3B;
    color: black;
    text-decoration: none;
    border-color: #C2242D;
    border-radius: 20px;
    border-style: dotted;
    border-width: 2px;
    font-size: 16px;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: bold;
}



/* Footer */

footer {
    background-color: #901b22;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    margin-top: 40px;
}

footer a {
    color: white;
    text-decoration: none;
}

.footer-left h3 {
    margin-bottom: 8px;
}